body {
  background-color: #222;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #FFF;
  font-size: 30px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  border: 2px solid #333;
}

.row {
  display: flex;
}

.G {
  background-color: green;
  border-color: green;
}

.Y {
  background-color: yellow;
  border-color: yellow;
}

.X {
  background-color: #333;
}

